<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<title>signup</title>
		<link rel="stylesheet"  href="../../assets/css/mysite.css">
		<link rel="stylesheet"  href="../../assets/css/board.css">
	
	</head>
	
	<body>
		<div id="wrap">
			<div id="header" class="clearfix">
				<h1>MySite</h1>
				<ul class="clearfix"> 
					<li><a href="#">로그인</a></li>
					<li><a href="#">회원가입</a></li>
				</ul>
			</div>
			<!-- //header -->
		
			<div id="nav">
				<ul class="clearfix">
					<li>입사지원서</li>
					<li>게시판</li>
					<li>갤러리</li>
					<li>방명록</li>
				</ul>
			</div>
			<!-- //nav -->
		
			<div id="contents" class="clearfix">
				<div id="aside">
					<h2>회원</h2>
				
					<ul>
						<li>회원가입</li>
						<li>로그인</li>
						<li>ID / PW 찾기</li>
					</ul>
				</div>
				<!-- //aside -->
				
				<div id="main-content">
					<div id="main-content-header" class="clearfix">
						<h3>일반게시판</h3>
					
						<ol class="clearfix">
							<li class="next-after">홈</li>
							<li class="next-after">게시판</li>
							<li>일반게시판</li>
						</ol>
					</div>
					<!-- //main-content-header -->
					
					<div id="main-content-body">
						<!-- 아이디 -->
						<div class="sign-form-group">
							<label class="form-title" for="">아이디</label>
							<input id="" type="text" placeholder="아이디를 입력해주세요">
						</div>
						
						<!-- 패스워드 -->
						<div class="sign-form-group">
							<label class="form-title" for="">패스워드</label>
							<input id="" type="password" placeholder="제목을 입력해주세요">
						</div>
						
						<!-- 이름 -->
						<div class="sign-form-group">
							<label class="form-title" for="">이름</label>
							<input id="" type="text" placeholder="이름을 입력하세요">
						</div>
						
						<!-- 프로필 사진  -->
						<div class="sign-form-group">
							<label class="form-title" for="">프로필사진</label>
							<input id="" type="file">
						</div>
						
						<!--  주소 -->
						<div class="sign-form-group">
							<label class="form-title" for="">주소</label>
							<input id="" type="text" placeholder="우편번호">
							<button type="button">우편번호찾기</button>
							
							<input class="block" id="" type="text" placeholder="주소">
						</div>
						
						<!-- 이동통신사 -->
						<div class="sign-form-group">
							<label class="form-title" for="">이동통신사</label>
							<select id="">
								<option>선택해 주세요</option>
								<option>SKT</option>
								<option>KT</option>
								<option>LGU</option>
								<option>기타</option>
							</select>
						</div>
						
						<!-- 나이 -->
						<div class="sign-form-group">
							<span class="form-title">나이</span>
							<label for="">10대</label>
							<input id="" type="radio" name="">
							<label for="">20대</label>
							<input id="" type="radio" name="" checked="checked">
							<label for="">30대</label>
							<input id="" type="radio" name="">
							<label for="">40대</label>
							<input id="" type="radio" name="">
							<label for="">기타</label>
							<input id="" type="radio" name="">
						</div>
						
						<!-- 취미 -->
						<div class="sign-form-group">
							<span class="form-title">취미</span>
							<label for="">독서</label>
							<input id="" type="checkbox" name="" checked="checked">
							<label for="">음악</label>
							<input id="" type="checkbox" name="" >
							<label for="">여행</label>
							<input id="" type="checkbox" name="">
							<label for="">영화</label>
							<input id="" type="checkbox" name="">
							<label for="">코딩</label>
							<input id="" type="checkbox" name="">
							<label for="">기타</label>
							<input id="" type="checkbox" name="">
						</div>
						
						<!-- 자기소개 -->
						<div class="sign-form-group">
							<span class="form-title txt-top">자기소개</span>
							<textarea id="txt-introduction"></textarea>
						</div>
					</div>
					<!-- 버튼 등록 - 초기화  -->
					<div id="main-content-footer">
						<button class="btn" type="submit">등록</button>
						<button class="btn" type="reset">초기화</button>
					</div>
		
				</div>	
				<!-- //main-content -->
			
			</div>
			<!-- //contents -->
		
			<div id="footer">
				Copyright ⓒ 2020 유지은, All right reserved
			</div>
			<!-- //footer -->
		
		
		</div>
		<!-- //wrap -->
		
	</body>
</html>